<header>
	<div class='sign'>
		<!--a href='../signUser'><button id='btnFormSign' class='btn'>Entrada para usuarios <i class='fas fa-user'></i></button></a-->
		<a href='../signBusiness'><button id='btnFormSign' class='btn'>Entrada para negocios <i class='far fa-building'></i></button></a>
	</div>
</header>