<div class='sign'>
	<p>Usuario: <%= nickname %></p>
	<p>Negocio: <a href="https://ayacuchoseguro.herokuapp.com/manageBusiness/<%= keySession %>"><%= businessName %></a></p>
	<form method='post' action='/closeSession'>
		<button class='btn right'>Cerrar sesión</button>
	</form>
</div>